<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidnav">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.extra_view_activity"/>
        <activity android:name=".Activity.settings_view_activity" />
        <activity android:name=".Activity.add_view_activity" />
        <activity android:name=".Activity.academy_view_activity" />
        <activity android:name=".Activity.exam_view_activity" />
        <activity android:name=".Activity.assingment_view_activity" />
        <activity android:name=".Activity.Activity_card" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_page" />
        <activity android:name=".Activity.MainActivity"/>
    </application>

</manifest>